:root {
  --i-bgc: #48e;
  --i-bgu: url("https://www.transparenttextures.com/patterns/flowers.png");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background-color: var(--i-bgc);
  background-image: var(--i-bgu);
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}